:root {
	--font-title: "Rozha One";
    --font-serif: "vollkorn", "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;
    --punctuation-color: rgb(120 113 108);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container-center {
    @apply px-5 md:px-0 w-screen md:w-[700px] mx-auto;
}

.center-horizontal {
    @apply flex items-center;
}

.font-title {
	font-family: var(--font-title);
}

@layer components {
    #__next {
        @apply min-h-screen flex flex-col;
    }
    html,
    body {
        @apply min-h-screen;
    }
}
